@model BookViewModel;
@{
    ViewData["Title"] = "Update";
}

<h1>Update book</h1>
<div class="row orderForm">

    <form asp-controller="Book" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Update book</h3>
        @Html.HiddenFor(m => Model.Book.Id)

        <div class="form-group">
            <label asp-for="Book.Publisher" class="col-md-2 control-label"></label>
            <div class="col-md-6">

                @Html.DropDownListFor(m => m.Book.PublisherId,
                                                  new SelectList(Model.Publishers.Select(x => new { Value = x.Id, Text = x.Name }), "Value", "Text"),
                                                  htmlAttributes: new { @class = "form-control border-input" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Book.Title" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Book.Title" class="form-control" placeholder="Enter book title" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Book.NumberOfPages" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Book.NumberOfPages" class="form-control" placeholder="Enter book title" />
                <span asp-validation-for="Book.NumberOfPages" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Book.YearOfIssue" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Book.YearOfIssue" class="form-control" placeholder="Enter book title" />
                <span asp-validation-for="Book.YearOfIssue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Book" asp-action="Index" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>
